.section-title {
  max-width: 500px;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.3;
  text-align: center;
  color: #29374E;
 }

 .section-title-accent {
  color: #0962E8;
 }

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 24px;
  }
}
